.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 100%;
  padding-bottom: 30px;

  h3 {
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 20px;
  }
}

.education-list {
  padding-left: 2em;
  padding-right: 2em;
}

@media(min-width: 700px) {
  .education-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      flex-direction: row;
    }
  }

  .degree {
    margin-bottom: 10px;
  }

  .years {
    border-bottom: solid 1px #A5B7EA;
  }
}
