.first-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../abstract.jpg') no-repeat;
  background-size: cover;
  height: 55vh;
  position: relative;
}

@media(min-width: 359px) {
  .first-view {
    height: 46vh;
  }
}

@media(min-width: 374px) {
  .first-view {
    height: 37vh;
  }
}

@media(min-width: 410px) {
  .first-view {
    height: 39vh;
  }
}

@media(min-width: 700px) {
  .first-view {
    height: 83vh;
    justify-content: flex-end;
  }
}
