.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #095e9a;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 2px #383940;

  .nav {
    display: none;
  }

  .nav-list {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
  }

  h2 {
    margin: 0;
  }
}

@media (min-width: 700px) {
  .header {
    .nav {
      display: flex;
    }
  }
}
