.mobile-portrait {
  height: 150px;
  width: 150px;
  border-radius: 13em;
  background: url('../me.jpg') no-repeat center center;
  background-size: cover;
  border: solid 1px white;
}

/* MOBILE */
.mobile-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #383940;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
}

@media(min-width: 700px) {
  .mobile-icons {
    display: none;   
  }
  .mobile-portrait {
    display: none;
  }
}
